{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">  
    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">              
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>                                 
          </ul>          
        </div>                
      </nav>             
      {% for m in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <p>{{m}}</p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}                 
      <div class="mt-4">
        <h1 align="center">Admin Features</h1>        
        <hr color="white"/>
        <div class="container pushcont">         
        <h2>Create Student Here</h2>
        <form method="post" action="createstudent" class="main_form" enctype="multipart/form-data">
           {% csrf_token %}      
           <div class="form-group">
            <label for="exampleFormControlInput1">Username</label>
            <input required type="text" class="form-control" id="exampleFormControlInput1" name="username">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Password</label>
            <input required type="text" class="form-control" id="exampleFormControlInput1" name="password">
          </div>              
          <div class="form-group">
            <label for="exampleFormControlInput1">Email</label>
            <input required type="email" class="form-control" id="exampleFormControlInput1" name="email">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">First Name</label>
            <input required type="text" class="form-control" id="exampleFormControlInput1" name="fname">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Last Name</label>
            <input required type="text" class="form-control" id="exampleFormControlInput1" name="lname">
          </div>                                                                   
          <div class="form-group">
            <label for="exampleFormControlInput1">Passing Out Year</label>
            <select type="text" class="form-control" id="exampleFormControlInput1" name="year">               
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>   
              <option value="2024">2024</option>                
              <option value="2025">2025</option> 
            </select>
          </div>  
          <div class="form-group">
            <label for="exampleFormControlInput1">Branch</label>
            <select type="text" class="form-control" id="exampleFormControlInput1" name="branch">
              {% for b in branch %}
                <option value="{{b.branch}}">{{b.branch}}</option>
              {% endfor %}              
              </select>
          </div>    
          <div class="form-group">
            <label for="exampleFormControlInput1">Yearbook Quote</label>
            <input required type="textarea" class="form-control" id="exampleFormControlInput1" name="quote">
          </div>           
          <input type="submit" class="btn btn-primary" value="Create Student"/>
        </form>  
      </div>      
      <hr color="white">  
      <div class="container">                    
        <form action="createyear" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <h2 >Add Year</h2>
            <input required type="text" class="form-control" id="exampleFormControlInput1" name="year">
          </div>
          <input type="submit" class="btn btn-primary" value="Create"/>
        </form>
        </div>
        <hr color="white">  
        <div class="container">
        <form action="createbranch" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <h2 >Add Branch</h2>
            <input required type="text" class="form-control" id="exampleFormControlInput1" name="branch">
          </div>
          <input type="submit" class="btn btn-primary" value="Create"/>
        </form>
     </div>
     <hr color="white">  
     <br/>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>