{% load static %}
<!doctype html>
<html lang="en">
  <head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">  
    <title>Main Page</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">              
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>                                             
        </ul>          
      </div> 
      {% if user.is_staff %}
        <a href="edit_detail/{{username}}">
          <button class="btn btn-primary btnx">
            Edit Details
          </button> 
        </a>     
      {% endif %}
    </nav>         
    {% for m in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <p>{{m}}</p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endfor %}         
    {% for st in student %}
    {% if st.username == username %}
    <div class="container mt-4">           
        <img src="{{st.image.url}}" alt="..." class="imgx" style="height: 100px; width:160px;"/>   
        <h1>Name: {{st.fname}} {{st.lname}}</h1>  
        <h1>Branch: {{st.branch}}</h1>   
        <h1>Year: {{st.year}}</h1>           
        <h1>Yearbook Quote: {{st.quote}}</h1>  
        <br/>
        {% if st.username == user.username %}
        <h3>Add Memories here: </h3>
        <form method="POST" action="creatememory/{st.username}}" class="main_form">
            {% csrf_token %}                    
            <div class="form-group">                
               <input required name="text" type="textarea" class="form-control" placeholder="Add Memory"/>
            </div>   
            <div class="form-group">                
              <input name="username" type="hidden" class="form-control" value="{{st.username}}"/>
           </div>                   
            <div>
               <input class="btn" type="submit" value="Create"/>
            </div>
         </form> 
         {% else %}
         {% endif %}  
         <br/>   
        </div>
        <hr color="white">
        <div class="container">
        <h1>Memories</h1>
        <p>(Memories added by {{st.fname}} can be seen here)</p>
        {% for m in memories %}   
        <div class="card" style="width: 45rem;">                 
          <div class="card-body">            
            <h3>{{m.text}}                 
              {% if user.username == st.username or user.is_staff %}
                <a href="deletemem/{{st.username}}/{{m.id}}">
                  <button class="btn btnxx btn-danger btn-del">Delete</button>                  
                </a>                                 
              {% endif %}                 
            </h3>
          </div>
        </div>                       
        {% empty %}                     
          <h2>Nothing Here...</h2>
        {% endfor %}         
        <br/><br/>
        </div>        
          {% if st.username == user.username or user.is_staff %}         
          <hr color="white">  
          <div class="container">
          <h2>Pending comments</h2>
          <p>(You can approve your comments here)</p>
          <hr color="white">
            {% for c in commentsnot %}                 
                  {% for x in student %}                
                    {% if x.username == c.senderuname %}
                      <h2>{{c.content}}</h2><p>(Comment from: {{x.fname}} {{x.lname}})                        
                    {% endif %}
                  {% endfor %}
                  <a href="approve/{{st.username}}/{{c.id}}">
                    <button class="btn btn-primary">Approve</button>                  
                  </a>   
                  <a href="decline/{{st.username}}/{{c.id}}">
                    <button class="btn btn-danger">Decline</button>                  
                  </a>            
                </p>                           
              {% empty %}
              <h2>Nothing Here....</h2>
            {% endfor%}
            <br/>
      </div>            
      <hr color="white">
      <div class="container">
            <h2>Approved Comments</h2>                
            <p>(Only comments approved by {{st.fname}} can be seen here)</p>
            <hr color="white">
            {% for c in commentsis %}                                                                         
            <div class="card" style="width: 45rem;">                 
              <div class="card-body">
                {% for x in student %}                
                    {% if x.username == c.senderuname %}
                      <p>Comment by {{x.fname}} {{x.lname}}</p>
                    {% endif %}
                {% endfor %}
                <h3>{{c.content}}                 
                  <a href="decline/{{st.username}}/{{c.id}}">
                    <button class="btn btn-danger btn-del">Delete</button>                  
                  </a>                  
                </h3>
              </div>
            </div>                   
            {% empty %}       
              <h2>Nothing Here....</h2>
            {% endfor %}
          {% else %}
          {% if user.is_authenticated %}
          <hr color="white">
          <div class="container">
              <h2>Comment on {{st.fname}} {{st.lname}}</h2>
              <form method="POST" action="createcomment/{{st.username}}" class="main_form">
                {% csrf_token %}                    
                <div class="form-group">                
                  <input name="content" type="textarea" class="form-control" placeholder="Add Comment"/>
                </div>                 
                <div class="form-group">                
                  <input name="senderuname" type="hidden" class="form-control" value="{{user.username}}"/>
                </div> 
                <div class="form-group">                
                  <input name="recieveruname" type="hidden" class="form-control" value="{{st.username}}"/>
                </div>                
                <div>
                  <input class="btn" type="submit" value="Create"/>
                </div>
            </form>    
            {% endif %}
            <br/>
            </div>
            <hr color="white">
            <div class="container">
            <h2>Approved Comments</h2>  
            <p>(Only comments approved by {{st.fname}} can be seen here)</p>              
            {% for c in commentsis %}              
              <div class="card" style="width: 45rem;">                 
                <div class="card-body">
                  {% for x in student %}                
                      {% if x.username == c.senderuname %}
                        <p>Comment by {{x.fname}} {{x.lname}}</p>
                      {% endif %}
                  {% endfor %}
                  <h3>{{c.content}}</h3>
                </div>
              </div>  
            {% empty %}
              <h2>Nothing Here....</h2>          
            {% endfor %}
          {% endif %}
          </div>
    </div> 
    {% endif %}
    {% endfor %}
    <br/><br/><br/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>    
  </body>
  <style>
    .btn-del{
      float: right;
    }
  </style>
</html>